In [ ]:
import numpy as np
import pandas as pd
import os

In [78]:
# Preprocessing + Combining Multiple Variables
def fetchOnetDB(variables):
    onetDB = pd.DataFrame()
    for location,heading in variables.items():
        data = pd.read_csv("data/"+location)
        if "Importance" in data.columns: 
            data.rename(columns={'Importance': heading}, inplace=True)
            del data['Level']
        if "Context" in data.columns: data.rename(columns={'Context': heading}, inplace=True)
        if onetDB.empty: onetDB = data.copy()
        else: onetDB = pd.merge(onetDB,data, on=['Code','Occupation'])
    cols = onetDB.columns.to_list()
    onetDB = onetDB[cols[1:3] + [cols[0]] + cols[3:]]
    return onetDB.copy()

In [79]:
onetVars = {
    'Social_Perceptiveness.csv':'SP',
    'Persuasion.csv':'P',
    'Finger_Dexterity.csv':'FD',
    'Originality.csv':'O',
    'Assisting_and_Caring_for_Others.csv':'AC',
    'Manual_Dexterity.csv':'MD',
    'Cramped_Work_Space_Awkward_Positions.csv':'CW',
    'Negotiation.csv':'N',
    'Fine_Arts.csv':'FA'
}

onetDB = fetchOnetDB(onetVars)
onetDB

,Code,Occupation,SP,P,FD,O,AC,MD,CW,N,FA
0,19-3031.03,Counseling Psychologists,94,72,19,66,91,0,0,69,5
1,21-1014.00,Mental Health Counselors,94,66,28,60,94,0,3,56,15
2,19-3031.02,Clinical Psychologists,94,60,22,56,99,0,5,50,5
3,29-1066.00,Psychiatrists,88,63,35,56,99,0,6,56,5
4,21-1013.00,Marriage and Family Therapists,81,72,38,66,94,0,1,69,5
...,...,...,...,...,...,...,...,...,...,...,...
963,53-7111.00,Mine Shuttle Car Operators,28,19,28,19,58,66,84,19,1
964,51-6042.00,Shoe Machine Operators and Tenders,28,22,53,28,34,60,7,19,17
965,45-2041.00,"Graders and Sorters, Agricultural Products",28,22,50,10,36,56,8,19,5
966,51-6021.00,"Pressers, Textile, Garment, and Related Materials",25,19,53,22,50,66,17,19,7
967,15-2091.00,Mathematical Technicians,0,17,20,30,13,10,0,17,0

In [82]:
onetDB.loc[onetDB['Code'] == '15-1132.00']

,Code,Occupation,SP,P,FD,O,AC,MD,CW,N,FA
643,15-1132.00,"Software Developers, Applications",47,47,38,56,32,25,5,44,0

In [ ]:
def fetchSOCDb():
    socDB = pd.DataFrame()
    data = pd.read_csv("data/soc_data_2019.xlsx")
    print data

fetchSOCDb()